@model WebTimTro.Models.PhongTroVM
@inject WebTimTro.Interfaces.IUnitOfWork _unitOfWork
@using Microsoft.AspNetCore.Identity
@using WebTimTro.Data
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> hinhAnhFileNames = ViewBag.HinhAnhFileNames;
    string note = ViewBag.Note;
    List<DichVuVM> dichVusVM = ViewBag.DichVuCuaPhongTro;
}

<input hidden id="loginStatus" value="@(SignInManager.IsSignedIn(User) ? 1 : 0)" />
<div class="card-group mb-5" style="margin-left:75px; margin-top:20px;">
    <div class="row" style="margin-left:30px;">
        @if (hinhAnhFileNames.Count != 0)
        {
            if (hinhAnhFileNames.Count == 1)
            {
                <div class="col-5" style="margin-left:20px;">
                    <img class="card-img-top" src="/images/@hinhAnhFileNames[0]" alt="Card image cap">
                </div>
            }
            else
            {
                @for (int i = 0; i < 2; i++)
                {
                    <div class="col-5" style="margin-left:20px;">
                        <img class="card-img-top" src="/images/@hinhAnhFileNames[i]" alt="Card image cap">
                    </div>
                }
            }
        }
    </div>
</div>
<div class="row">
    <div class="card mb-4 col-7">
        <div class="card-body">
            <div>
                <div class="row mb-3">
                    <div class="py-3">
                        <h3 class="mb-0">@Model.Ten</h3>
                    </div>
                    <div class="align-middle"><small class="text-light fw-semibold">@Model.SucChua người ở * @Model.DiaChi</small></div>
                </div>
                <div class="row mb-3">
                    <div>
                        <div class="align-middle"><small class="text-light fw-semibold">Những điều bạn cần lưu ý</small></div>
                        <div class="py-3">
                            <p class="mb-0">
                                @note
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                        <div class="align-middle"><small class="text-light fw-semibold">Mô tả của chủ trọ</small></div>
                        <div class="py-3">
                            <p class="mb-0">
                                @Html.Raw(Model.MoTa)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <small class="text-light fw-semibold">Những dịch vụ mà phòng trọ này cung cấp</small>
                        <div class="demo-inline-spacing mt-3">
                            <ul class="list-group">
                                @foreach (DichVuVM dichVu in dichVusVM)
                                {
                                    <li class="list-group-item d-flex align-items-center">
                                        <i class="bx bx-tv me-2"></i>
                                        @dichVu.Ten
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div id="numbersOfLike@(Model.Id)"
                         class="card-text col-lg-1">
                        @_unitOfWork.PhongTroQuanTam.NumbersOfQuanTam(Model.Id)
                    </div>
                    <div class="card-text col-lg-3"> người quan tâm</div>
                    <div id="numbersOfBinhLuan@(Model.Id)"
                         class="card-text col-lg-1">
                        @_unitOfWork.BinhLuan.GetNumbersOfCommentByPostId(Model.Id)
                    </div>
                    <div class="card-text col-lg-3"> người bình luận</div>
                </div>
                <div class="row mb-3">
                    <a id="isQuanTamPhongTro@(Model.Id)" style="cursor:pointer;"
                       onclick="QuanTam(@(Model.Id))" class="card-link col-lg-4 bx bx-like">
                        @((_unitOfWork.PhongTroQuanTam.IsQuanTam(_unitOfWork.NguoiDung.GetUserId(), Model.Id)) ? "Đã quan tâm" : "Quan tâm")
                    </a>

                    <a id="isSavedPhongTro@(Model.Id)" style="cursor:pointer;"
                       onclick="Save(@(Model.Id))" class="card-link col-lg-3 bx bx-save">
                        @((_unitOfWork.PhongTroLuuTru.IsSaved(_unitOfWork.NguoiDung.GetUserId(), Model.Id)) ? "Đã lưu" : "Lưu")
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4 col-4">
        <div class="card-body">
            <h5 class="card-title">Giá trọ: @Model.Gia</h5>
            <div class="card-subtitle text-muted mb-3">Ngày hết hạn đặt trọ: @Model.NgayHetHan</div>
            <p class="card-text">

            </p>
            <a href="javascript:void(0)" class="card-link">Đặt phòng trọ</a>
            <a href="javascript:void(0)" class="card-link">Kiểm tra tình trạng trọ</a>
        </div>
        <div class="card-body">
            <div id='map' style='width: 100%; height: 500px;'></div>
        </div>
    </div>
    <div class="card mb-4 col-7">
        <!--Đây là phần bình luận bài viết-->
        <div class="container mt-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-8">
                    <div class="d-flex flex-column comment-section">
                        <!--Nơi viết comment-->
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form method="post">
                                <div class="bg-light p-2">
                                    <div class="d-flex flex-row align-items-start">
                                        <img class="rounded-circle" src="~/images/@(_unitOfWork.NguoiDung.GetUserById(_unitOfWork.NguoiDung.GetUserId()).Avatar)" width="40" height="40">
                                        @*<textarea id="commentOnPost" class="form-control ml-1 shadow-none textarea">
                                    </textarea>*@
                                        <textarea style="margin-left:20px;" class="form-control" id="commentOnPost" rows="3"></textarea>
                                    </div>
                                    <div class="row" style="margin-left:20px;margin-top:5px;">
                                        <div class="col-lg-3" style="cursor:pointer;" onclick="PostCommentOnPost()">post it</div>
                                        <div class="col-lg-5" style="cursor:pointer;" onclick="CancelComment()">cancel</div>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div>Bạn hãy đăng nhập để bình luận bài viết</div>
                        }

                        <div id="listComment">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!--Modal hiển thị để thông báo cho người dùng-->
<div class="modal fade show" id="messageModal" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalToggleLabel">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Bạn hãy đăng nhập để thực hiện tính năng này</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    //$(document).ready();
    $(function() {
        LoadComments();

        goongjs.accessToken = 'TNwi4dTRydZLkZeH6Gi78EXYlpTYZ0qRuntr1LPY';
        var map = new goongjs.Map({
            container: 'map',
            style: 'https://tiles.goong.io/assets/goong_map_web.json', // stylesheet location
            center: [@Model.Longitude, @Model.Latitude], // starting position [lng, lat]
            zoom: 15 // starting zoom
        });

        var marker = new goongjs.Marker()
            .setLngLat([@Model.Longitude, @Model.Latitude])
            .addTo(map);
    });
    function LoadComments() {
        var postId = @Model.Id;
        $.ajax(
            {
                url: "/Home/LoadComments",
                dataType: 'json',
                type: 'post',
                data: { postId: postId },
                success: function(res) {
                    var contents = "";
                    $.each(res.listComment, function(index, element) {
                        // Change create At to nicer formata
                        var d = new Date(element.ngayDang);
                        var timeCreate = d.toLocaleString("en-US");

                        // Generate id for reply section
                        var replyId = "reply" + element.id;

                        contents += '<div class="bg-white p-2">';
                        contents += '<div class="d-flex flex-row user-info">';
                        contents += '<img class="rounded-circle" src="/images/' + res.listAvatar[index] + '" width="40" height="40">';
                        contents += '<div class="d-flex flex-column justify-content-start ml-2" style="margin-left:20px;"><span class="d-block font-weight-bold name">' + res.listAuthorName[index] + '</span><span class="date text-black-50">Shared publicly - ' + timeCreate + '</span></div>';
                        contents += '</div>';
                        contents += '<div class="mt-2">';
                        contents += '<p class="comment-text">' + element.noiDung + '</p>';
                        contents += '</div>';
                        contents += '</div>';
                        contents += '<div class="bg-white">';
                        contents += '<div class="d-flex flex-row fs-12">';
                        contents += '<div style="cursor: pointer;" class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>';
                        contents += '<div onclick="ShowHideReply(' + element.id + ')" style="cursor: pointer;" class="like p-2 cursor" >Comment</div>';
                        contents += '<div onclick="ReportThisComment(' + element.id + ')" style="cursor: pointer;" class="like p-2 cursor"><i class=""></i><span class="ml-1">Report</span></div>';

                        contents += '</div>';

                        // List all reply comment relate to this comment
                        contents += '<div style="margin-left:50px;" id= ' + ("listreplyto" + element.id) + '></div>';

                        // Add reply comment section
                        contents += '<div id=' + replyId + ' style="display:none;">';

                        // Nơi viết comment
                        contents += '<form method="post">';
                        contents += '<div class="bg-light p-2">';
                        contents += '<div class="d-flex flex-row align-items-start">';
                        contents += '<img class="rounded-circle" src="/images/' + res.loggedUserAvatar + '" width="40" height="40">';
                        contents += '<textarea style="margin-left:20px;" id=' + ("commentOnComment" + element.id) + ' class="form-control ml-1 shadow-none textarea">';
                        contents += '</textarea>';
                        contents += '</div>';
                        contents += '<div class="row" style="margin-left:20px;margin-top:5px;">';
                        contents += '<div class="col-lg-3" style="cursor:pointer;" onclick="PostCommentOnComment(' + element.id + ')">post it</div>';
                        contents += '<div class="col-lg-5">Cancel</div></div>';
                        contents += '</div>';
                        contents += '</form>';


                        contents += '</div>';
                    });

                    $('#listComment').html(contents);

                    console.log(res);
                },
                error: function(err) {
                    console.log(err);
                }
            });
    }

    function LoadSubComments(id) {
        var parentCommentId = id;
        $.ajax(
            {
                url: "/Home/LoadSubCommentsByParentCommentId",
                dataType: 'json',
                type: 'post',
                data: { id: parentCommentId },
                success: function(res) {
                    var replyUsers = res.replyUser;
                    var contents = "";
                    $.each(res.result, function(index, element) {
                        // Change create At to nicer formata
                        var d = new Date(element.ngayDang);
                        var timeCreate = d.toLocaleString("en-US");

                        // Generate id for reply section
                        var replyId = "reply" + element.id;

                        contents += '<div class="bg-white p-2" style="backgroud-color: gray;">';
                        contents += '<div class="d-flex flex-row user-info">';
                        contents += '<img class="rounded-circle" src="/images/' + res.listAvatar[index] + '" width="40" height="40">';
                        contents += '<div class="d-flex flex-column justify-content-start ml-2" style="margin-left:20px;"><span class="d-block font-weight-bold name">' + res.listAuthorName[index] + '</span><span class="date text-black-50">Shared publicly - ' + timeCreate + '</span></div>';
                        contents += '</div>';
                        contents += '<div class="mt-2">';
                        contents += '<p class="comment-text">' + '@@' + replyUsers[index] + ' - ' + element.noiDung + '</p>';
                        contents += '</div>';
                        contents += '</div>';
                        contents += '<div class="bg-white">';
                        contents += '<div class="d-flex flex-row fs-12">';
                        contents += '<div style="cursor: pointer;" class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>';
                        contents += '<div onclick="ShowHideReply(' + element.id + ')" style="cursor: pointer;" class="like p-2 cursor" >Comment</div>';
                        contents += '<div onclick="ReportThisComment(' + element.id + ')" style="cursor: pointer;" class="like p-2 cursor"><i class=""></i><span class="ml-1">Report</span></div>';

                        contents += '</div>';


                        // Add reply comment section
                        contents += '<div id=' + replyId + ' style="display: none;">';

                        // Nơi viết comment
                        contents += '<form method="post">';
                        contents += '<div class="bg-light p-2">';
                        contents += '<div class="d-flex flex-row align-items-start">';
                        contents += '<img class="rounded-circle" src="/images/' + res.loggedUserAvatar + '" width="40" height="40">';
                        contents += '<textarea style="margin-left:20px;" id=' + ("commentOnComment" + element.id) + ' class="form-control ml-1 shadow-none textarea">';
                        contents += '</textarea>';
                        contents += '</div>';
                        contents += '<div class="row" style="margin-left:20px;margin-top:5px;">';
                        contents += '<div class="col-lg-3" style="cursor:pointer;" onclick="PostCommentOnComment(' + element.id + ')">post it</div>';
                        contents += '<div class="col-lg-5">Cancel</div></div>';
                        contents += '</div>';
                        contents += '</form>';


                        contents += '</div>';
                    });

                    $('#listreplyto' + id).html(contents);

                    console.log('subcomment of comment: ' + id);
                    console.log(res);
                },
                error: function(err) {
                    console.log(err);
                }
            });
    }

    function ShowHideReply(id) {
        LoadSubComments(id);

        var x = document.getElementById("reply" + id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function PostCommentOnPost() {
        var loginStatus = $('#loginStatus').val();
        if (loginStatus == 0) {
            $('#messageModal').modal('show');
        } else {
            var postId = @Model.Id;
            var content = $("#commentOnPost").val();

            $.ajax(
                {
                    url: "/Home/SaveCommentOnPost",
                    dataType: 'json',
                    type: 'post',
                    data: { postId: postId, content: content },
                    success: function(res) {
                        if (res.status == "ok") {
                            // Lấy số bình luận hiện tại và tăng lên 1
                            // khi người dùng thực hiện bình luận
                            var numOfBinhLuan = $('#numbersOfBinhLuan' + postId).html();
                            var recentNumOfBinhLuan = eval(numOfBinhLuan) + 1;
                            console.log('so binh luan hien tai: ' + recentNumOfBinhLuan);
                            $('#numbersOfBinhLuan' + postId).html(recentNumOfBinhLuan);


                            console.log("ok");
                            var newComment = res.result;
                            console.log(newComment);
                            var contents = "";

                            // Change create At to nicer formata
                            var d = new Date(newComment.ngayDang);
                            var timeCreate = d.toLocaleString("en-US");

                            // Generate id for reply section
                            var replyId = "reply" + newComment.id;

                            contents += '<div class="bg-white p-2">';
                            contents += '<div class="d-flex flex-row user-info">';
                            contents += '<img class="rounded-circle" src="/images/' + res.avatarOfUserWriteThisComment + '" width="40" height="40">';
                            contents += '<div class="d-flex flex-column justify-content-start ml-2" style="margin-left:20px;"><span class="d-block font-weight-bold name">' + res.nameOfUserWriteThisComment + '</span><span class="date text-black-50">Shared publicly - ' + timeCreate + '</span></div>';
                            contents += '</div>';
                            contents += '<div class="mt-2">';
                            contents += '<p class="comment-text">' + newComment.noiDung + '</p>';
                            contents += '</div>';
                            contents += '</div>';
                            contents += '<div class="bg-white">';
                            contents += '<div class="d-flex flex-row fs-12">';
                            contents += '<div style="cursor: pointer;" class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>';
                            contents += '<div onclick="ShowHideReply(' + newComment.id + ')" style="cursor: pointer;" class="like p-2 cursor" >Comment</div>';
                            contents += '<div onclick="ReportThisComment(' + newComment.id + ')" style="cursor: pointer;" class="like p-2 cursor"><i class=""></i><span class="ml-1">Report</span></div>';

                            contents += '</div>';

                            // List all reply comment relate to this comment
                            contents += '<div style="margin-left: 50px;" id= ' + ("listreplyto" + newComment.id) + '></div>';

                            // Add reply comment section
                            contents += '<div id=' + replyId + ' style="display: none;">';

                            // Nơi viết comment
                            contents += '<form method="post">';
                            contents += '<div class="bg-light p-2">';
                            contents += '<div class="d-flex flex-row align-items-start">';
                            contents += '<img class="rounded-circle" src="/images/' + res.loggedUserAvatar + '" width="40" height="40">';
                            contents += '<textarea style="margin-left:20px;" id=' + ("commentOnComment" + newComment.id) + ' class="form-control ml-1 shadow-none textarea">';
                            contents += '</textarea>';
                            contents += '</div>';
                            contents += '<div class="row" style="margin-left:20px;margin-top:5px;">';
                            contents += '<div class="col-lg-3" style="cursor:pointer;" onclick="PostCommentOnComment(' + newComment.id + ')">post it</div>';
                            contents += '<div class="col-lg-5">Cancel</div></div>';
                            contents += '</div>';
                            contents += '</form>';


                            contents += '</div>';

                            $('#commentOnPost').val("");
                            $('#listComment').append(contents);
                        } else {
                            console.log("err");
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
        }
    }


    function PostCommentOnComment(id) {
        var loginStatus = $('#loginStatus').val();
        if (loginStatus == 0) {
            $('#messageModal').modal('show');
        } else {
            var postId = @Model.Id;
            var content = $('#commentOnComment' + id).val();

            $.ajax(
                {
                    url: "/Home/SaveCommentOnComment",
                    dataType: 'json',
                    type: 'post',
                    data: { postId: postId, content: content, parentCmtId: id },
                    success: function(res) {
                        if (res.status == "ok") {
                            console.log("ok");

                            // Lấy số bình luận hiện tại và tăng lên 1
                            // khi người dùng thực hiện bình luận
                            var numOfBinhLuan = $('#numbersOfBinhLuan' + postId).html();
                            var recentNumOfBinhLuan = eval(numOfBinhLuan) + 1;
                            console.log('so binh luan hien tai: ' + recentNumOfBinhLuan);
                            $('#numbersOfBinhLuan' + postId).html(recentNumOfBinhLuan);


                            var newComment = res.result;
                            // Get user that this comment reply to
                            var userReply = res.replyUserName;
                            // Get rootId of this comment
                            var rootId = res.rootId;

                            console.log(newComment);
                            var contents = "";

                            // Change create At to nicer formata
                            var d = new Date(newComment.ngayDang);
                            var timeCreate = d.toLocaleString("en-US");

                            // Generate id for reply section
                            var replyId = "reply" + newComment.id;

                            contents += '<div class="bg-white p-2">';
                            contents += '<div class="d-flex flex-row user-info">';
                            contents += '<img class="rounded-circle" src="/images/' + res.avatarOfUserWriteThisComment + '" width="40" height="40">';
                            contents += '<div class="d-flex flex-column justify-content-start ml-2" style="margin-left:20px;"><span class="d-block font-weight-bold name">' + res.nameOfUserWriteThisComment + '</span><span class="date text-black-50">Shared publicly - ' + timeCreate + '</span></div>';
                            contents += '</div>';
                            contents += '<div class="mt-2">';
                            contents += '<p class="comment-text">' + '@@' + userReply + ' - ' + newComment.noiDung + '</p>';
                            contents += '</div>';
                            contents += '</div>';
                            contents += '<div class="bg-white">';
                            contents += '<div class="d-flex flex-row fs-12">';
                            contents += '<div style="cursor: pointer;" class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>';
                            contents += '<div onclick="ShowHideReply(' + newComment.id + ')" style="cursor: pointer;" class="like p-2 cursor" >Comment</div>';
                            contents += '<div style="cursor: pointer;" onclick="ReportThisComment(' + newComment.id + ')" class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Report</span></div>';

                            contents += '</div>';

                            // Add reply comment section
                            contents += '<div id=' + replyId + ' style="display: none;">';

                            // Nơi viết comment
                            contents += '<form method="post">';
                            contents += '<div class="bg-light p-2">';
                            contents += '<div class="d-flex flex-row align-items-start">';
                            contents += '<img class="rounded-circle" src="/images/' + res.loggedUserAvatar + '" width="40" height="40">';
                            contents += '<textarea style="margin-left:20px;" id=' + ("commentOnComment" + newComment.id) + ' class="form-control ml-1 shadow-none textarea">';
                            contents += '</textarea>';
                            contents += '</div>';
                            contents += '<div class="row" style="margin-left:20px;margin-top:5px;">';
                            contents += '<div class="col-lg-3" style="cursor:pointer;" onclick="PostCommentOnComment(' + newComment.id + ')">post it</div>';
                            contents += '<div class="col-lg-5">Cancel</div></div>';
                            contents += '</div>';
                            contents += '</form>';


                            contents += '</div>';

                            $('#commentOnComment' + id).val("");
                            $('#listreplyto' + rootId).append(contents);
                        } else {
                            console.log("err");
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
        }
    }

    function ReportThisComment(id) {
        var loginStatus = $('#loginStatus').val();
        if (loginStatus == 0) {
            $('#messageModal').modal('show');
        } else {
            var parentCommentId = id;
            $.ajax(
                {
                    url: "/Home/ReportCommentById",
                    dataType: 'json',
                    type: 'post',
                    data: { id: parentCommentId },
                    success: function(res) {
                        console.log(res);
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
        }
    }

    function QuanTam(id) {
        var loginStatus = $('#loginStatus').val();
        if (loginStatus == 0) {
            $('#messageModal').modal('show');
        } else {
            var isSaved = $('#isQuanTamPhongTro' + id).html();
            console.log(isSaved);

            var numOfLike = $('#numbersOfLike' + id).html();
            console.log('numbers of like: ' + numOfLike);

            if (isSaved.trim() == "Quan tâm") {
                console.log('Đang quan tâm phòng trọ ' + id);
                $.ajax({
                    url: '/Home/QuanTamPhongTro',
                    method: 'post',
                    data: { id: id },
                    success: function(result) {
                        if (result.status == "ok") {
                            console.log('Đã quan tâm phòng trọ ' + id);
                            $('#isQuanTamPhongTro' + id).html('Đã quan tâm');

                            // Tăng số lượng like lên 1 đơn vị
                            var recentNumOfLike = eval(numOfLike) + 1;
                            console.log('so like hien tai: ' + recentNumOfLike);
                            $('#numbersOfLike' + id).html(recentNumOfLike);
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            } else {
                console.log('Đang bỏ quan tâm phòng trọ ' + id);
                $.ajax({
                    url: '/Home/BoQuanTamPhongTro',
                    method: 'post',
                    data: { id: id },
                    success: function(result) {
                        if (result.status == "ok") {
                            console.log('Đã bỏ quan tâm phòng trọ ' + id);
                            $('#isQuanTamPhongTro' + id).html('Quan tâm');

                            // Giảm số lượng like lên 1 đơn vị
                            var recentNumOfLike = eval(numOfLike) - 1;
                            console.log('so like hien tai: ' + recentNumOfLike);
                            $('#numbersOfLike' + id).html(recentNumOfLike);
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            }
        }
    }

    function Save(id) {
        var loginStatus = $('#loginStatus').val();
        if (loginStatus == 0) {
            $('#messageModal').modal('show');
        } else {
            var isSaved = $('#isSavedPhongTro' + id).html();
            console.log(isSaved);
            if (isSaved.trim() == "Lưu") {
                $.ajax({
                    url: '/Home/SavePhongTro',
                    method: 'post',
                    data: { id: id },
                    success: function(result) {
                        if (result.status == "ok") {
                            $('#isSavedPhongTro' + id).html('Đã lưu');
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            } else {
                $.ajax({
                    url: '/Home/UnSavePhongTro',
                    method: 'post',
                    data: { id: id },
                    success: function(result) {
                        if (result.status == "ok") {
                            $('#isSavedPhongTro' + id).html('Lưu');
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            }
        }
    }
</script>