@model IEnumerable<WebTimTro.Models.PhongTroVM>
@inject WebTimTro.Interfaces.IUnitOfWork _unitOfWork


@{
    ViewData["Title"] = "Home Page";
    List<PhongTroVM> phongTros = Model.ToList();
    List<string> firstHinhAnhs = ViewBag.FirstHinhAnhs;
    List<string> someDichVu =  ViewBag.SomeDichVu;
}

<div class="row mb-5" style="margin-left:10px;">
    @for (int i = 0; i < phongTros.Count; i++)
    {
        <div class="col-md-6 col-lg-4">
            <h6 class="mt-2 text-muted"></h6>
            <div class="card">
                <img class="card-img-top" src="/images/@firstHinhAnhs[i]" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@phongTros[i].Ten</h5>
                    <p class="card-text">@phongTros[i].SucChua người ở</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@someDichVu[i]</li>
                    <li class="list-group-item">Giá: @phongTros[i].Gia VND</li>
                </ul>
                <div class="card-body">
                    <a id="isQuanTamPhongTro@(phongTros[i].Id)" style="cursor:pointer;" onclick="QuanTam(@phongTros[i].Id)" class="card-link">
                        @(_unitOfWork.PhongTroQuanTam.IsQuanTam(_unitOfWork.NguoiDung.GetUserId(), 
                         phongTros[i].Id) ? "Đã quan tâm" : "Quan tâm")
                        </a>
                    <a href="/Home/Detail/@phongTros[i].Id" class="card-link">Xem phòng trọ</a>
                    <a id="isSavedPhongTro@(phongTros[i].Id)" style="cursor:pointer;" onclick="Save(@phongTros[i].Id)"
                    class="card-link">
                         @(_unitOfWork.PhongTroLuuTru.IsSaved(_unitOfWork.NguoiDung.GetUserId(), 
                         phongTros[i].Id) ? "Đã Lưu" : "Lưu")
                        </a>
                </div>
            </div>
        </div>
    }
</div>
<script>
    function Save(id) {
        var isSaved = $('#isSavedPhongTro' + id).html();
        console.log(isSaved);
        if(isSaved.trim() == "Lưu"){
            $.ajax({
                url: '/Home/SavePhongTro',
                method: 'post',
                data: {id : id},
                success: function(result) {
                    if(result.status == "ok"){
                        $('#isSavedPhongTro' + id).html('Đã lưu');
                    }      
                },
                error: function(err){
                    console.log(err);
                }
            });
        } else {
            $.ajax({
                url: '/Home/UnSavePhongTro',
                method: 'post',
                data: {id : id},
                success: function(result) {
                    if(result.status == "ok"){
                        $('#isSavedPhongTro' + id).html('Lưu');
                    }      
                },
                error: function(err){
                    console.log(err);
                }
            });       
        }
    }

    function QuanTam(id) {
        var isSaved = $('#isQuanTamPhongTro' + id).html();
        console.log(isSaved);
        if(isSaved.trim() == "Quan tâm"){
            console.log('Đang quan tâm phòng trọ ' + id);
            $.ajax({
                url: '/Home/QuanTamPhongTro',
                method: 'post',
                data: {id : id},
                success: function(result) {
                    if(result.status == "ok"){
                        console.log('Đã quan tâm phòng trọ ' + id);
                        $('#isQuanTamPhongTro' + id).html('Đã quan tâm');
                    }      
                },
                error: function(err){
                    console.log(err);
                }
            });
        } else {
            console.log('Đang bỏ quan tâm phòng trọ ' + id);
            $.ajax({
                url: '/Home/BoQuanTamPhongTro',
                method: 'post',
                data: {id : id},
                success: function(result) {
                    if(result.status == "ok"){
                        console.log('Đã bỏ quan tâm phòng trọ ' + id);
                        $('#isQuanTamPhongTro' + id).html('Quan tâm');
                    }      
                },
                error: function(err){
                    console.log(err);
                }
            });       
        }
    }
</script>