@model List<WebTimTro.Models.PhongTroVM>
@using Microsoft.AspNetCore.Identity
@using WebTimTro.Data
@inject SignInManager<NguoiDung> SignInManager
@inject UserManager<NguoiDung> UserManager

@{
    ViewData["Title"] = "Saved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Search
    {
    <div class="input-group" style="width:600px; margin-top:30px; margin-left:50px;">
        <input type="text" class="form-control txtSearch" placeholder="Nhập vào tên dịch vụ bạn muốn tìm kiếm" aria-label="Ten chu tro" aria-describedby="search">
        <button class="btn btn-outline-primary" type="button" id="search">Tìm kiếm</button>
    </div>
}

    <input hidden id="loginStatus" value="@(SignInManager.IsSignedIn(User) ? 1 : 0)" />
    <div class="card" style="margin-left: 50px; margin-right: 50px; margin-top: 30px;">
        <h5 class="card-header">Các phòng trọ bạn đã lưu</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Địa Chỉ</th>
                        <th>Sức Chứa</th>
                        <th>Giá</th>
                        <th>Ngày Đăng</th>
                        <th>Ngày Hết Hạn</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="load-list">
                    @*@foreach (var item in Model)
                {
                <tr id="row@(item.Id)">
                <td>@Html.DisplayFor(modelItem => item.Ten)</td>
                <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                <td>@Html.DisplayFor(modelItem => item.SucChua)</td>
                <td>@Html.DisplayFor(modelItem => item.Gia)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayDang)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayHetHan)</td>
                <td>
                <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="/Home/Detail/@item.Id">
                <i class="bx bx-edit-alt me-1"></i>View
                </a>
                <a class="dropdown-item" onclick="deleteConfirm(@(item.Id))"><i class="bx bx-trash me-1"></i>Delete</a>
                </div>
                </div>
                </td>
                </tr>
                }*@
                </tbody>
                <tfoot class="table-border-bottom-0">
                    <tr>
                        <th>Tên</th>
                        <th>Địa Chỉ</th>
                        <th>Sức Chứa</th>
                        <th>Giá</th>
                        <th>Ngày Đăng</th>
                        <th>Ngày Hết Hạn</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
            <div class="demo-inline-spacing" style="margin-left:5px;">
                <!-- Basic Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="load-pagination">
                    </ul>
                </nav>
                <!--/ Basic Pagination -->
            </div>
            <!-- Modal -->
            <div class="modal fade" id="deleteConfirmModal" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Xác nhận xoá</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="nameBasic" class="form-label">
                                        Bạn có muốn xoá bài viết đã lưu về phòng
                                        trọ này không?
                                    </label>
                                    <input id="idPhongTroDelete" hidden />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary" onclick="DeletePhongTro()">Yes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Modal hiển thị để thông báo cho người dùng-->
    <div class="modal fade show" id="messageModal" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalToggleLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Bạn hãy đăng nhập để xem các phòng trọ đã lưu</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            var loginStatus = $('#loginStatus').val();
            if (loginStatus == 0) {
                $('#messageModal').modal('show');
            }

            // function load pagination
            var load = function(txtSearch, page) {
                $.ajax({
                    url: '/PhongTro/GetAllSavedPost',
                    type: 'get',
                    data: { txtSearch: txtSearch, page: page },
                    success: function(result) {
                        console.log(result);
                        var str = "";
                        $.each(result.data, function(index, value) {
                            // Formatted Ngay dang bai
                            var ngayDang = new Date(value.ngayDang);
                            var NgayDang_str = ((ngayDang.getMonth() > 8) ? (ngayDang.getMonth() + 1) :
                                ('0' + (ngayDang.getMonth() + 1))) + '/' + ((ngayDang.getDate() > 9)
                                    ? ngayDang.getDate() : ('0' + ngayDang.getDate()))
                                + '/' + ngayDang.getFullYear();

                            // Formatted Ngay het han cho dat tro
                            var ngayHetHan = new Date(value.ngayHetHan);
                            var ngayHetHan_str = ((ngayHetHan.getMonth() > 8) ? (ngayHetHan.getMonth() + 1) :
                                ('0' + (ngayHetHan.getMonth() + 1))) + '/' + ((ngayHetHan.getDate() > 9)
                                    ? ngayHetHan.getDate() : ('0' + ngayHetHan.getDate()))
                                + '/' + ngayHetHan.getFullYear();

                            // Create list post
                            str += '<tr id="row' + value.id + '">';
                            str += "<td>" + (value.ten) + "</td>";
                            str += "<td>" + value.diaChi + "</td>";
                            str += "<td>" + value.sucChua + "</td>";
                            str += "<td>" + value.gia + "</td>";
                            str += "<td>" + NgayDang_str + "</td>";
                            str += "<td>" + ngayHetHan_str + "</td>";
                            str += "<td>";
                            str += '<div class="dropdown">';
                            str += '<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">';
                            str += '<i class="bx bx-dots-vertical-rounded"></i>';
                            str += '</button>';
                            str += '<div class="dropdown-menu">';
                            str += '<a class="dropdown-item" href="/PhongTro/Edit/' + value.id + '"><i class="bx bx-edit-alt me-1"></i> Edit</a>';
                            //str += '<a class="dropdown-item" href="/PhongTro/Delete/'+ value.id +'"><i class="bx bx-trash me-1"></i> Delete</a>';
                            str += '<a class="dropdown-item" onclick="deleteConfirm(' + value.id + ')"><i class="bx bx-trash me-1"></i> Delete</a>';
                            str += '</div>';
                            str += '</div>';
                            str += '</td>';
                            str += "</tr>";

                            // Create pagination
                            var pagination_string = "";
                            var pageCurrent = result.pageCurrent;
                            var numSize = result.numSize;

                            // Create button previous
                            if (pageCurrent > 1) {
                                var pagePrevious = pageCurrent - 1;
                                pagination_string += '<li class="page-item">';
                                pagination_string += '<a class="page-link" href="" data-page="' + pagePrevious + '">Previous</a>';
                                pagination_string += '</li>';
                            }

                            for (var i = 1; i <= numSize; i++) {
                                if (i == pageCurrent) {
                                    pagination_string += '<li class="page-item active">';
                                    pagination_string += '<a class="page-link" href="" data-page="' + i + '">' + pageCurrent + '</a>';
                                    pagination_string += '</li>';
                                } else {
                                    pagination_string += '<li class="page-item">';
                                    pagination_string += '<a class="page-link" href="" data-page="' + i + '">' + i + '</a>';
                                    pagination_string += '</li>';
                                }
                            }

                            // Create button next
                            if (pageCurrent > 0 && pageCurrent < numSize) {
                                var pageNext = pageCurrent + 1;
                                pagination_string += '<li class="page-item">';
                                pagination_string += '<a class="page-link" href="" data-page="' + pageNext + '">Next</a>';
                                pagination_string += '</li>';
                            }

                            // Load pagination
                            $("#load-pagination").html(pagination_string);
                        });

                        // Load str to class="load-list"
                        $(".load-list").html(str);
                    }
                });
            }



            // Click event pagination
            $("body").on("click", ".pagination li a", function(event) {
                event.preventDefault();
                var page = $(this).attr('data-page');

                // Load event pagination
                var txtSearch = $('.txtSearch').val();
                if (txtSearch != "") {
                    load(txtSearch, page);
                } else {
                    load(null, page);
                }
            });

            // Click event search
            $('#search').click(function() {
                var txtSearch = $('.txtSearch').val();
                if (txtSearch != '') {
                    load(txtSearch, 1);
                } else {
                    load(null, 1);
                }
            });

            // Load init
            load(null, 1);
        });


        function deleteConfirm(id) {
            console.log('confirm delete phong tro da luu ' + id);
            $('#idPhongTroDelete').val(id);
            $('#deleteConfirmModal').modal('show');
        }

        function DeletePhongTro() {
            var id = $('#idPhongTroDelete').val();
            console.log('deleting phong tro da luu ' + id);
            $.ajax({
                url: '/PhongTro/DeleteSavedPhongTro',
                method: 'post',
                data: { id: id },
                success: function(result) {
                    if (result.status == "ok") {
                        console.log('delete phong tro da luu ' + id + ' successfully');
                        $('#deleteConfirmModal').modal('hide');
                        $('#row' + id).hide();
                    }
                },
                error: function(error) {
                    $('#deleteConfirmModal').modal('hide');
                    console.log(error);
                }
            });
        }
    </script>